/* 전체 설정*/

*{margin: 0;padding: 0;}
body,html{width: 100%;height: 100%;font-size: 16px;}
ul{list-style: none;}
a{text-decoration: none;color: #fff;}

/*font-family: 'Noto Sans KR','Nanum Myeongjo','Nanum Gothic','Roboto', sans-serif;*/

/*헤드영역*/

#hd{width: 1870px;margin: 0 auto;height: 100px;position: relative;}
.logo{display: block;width: 280px;height: 75px;padding-top: 20px;}
.logo img{display: block;width: 100%;height: 100%;}
#hd a{color: #fff;}
.sidenav{clear: both;position: absolute;top: 0;right: 50px;padding-top: 10px;}
.sidenav li{float: left;margin-right: 10px;width: 100px;text-align: center;font-family: 'Nanum Gothic','Roboto', sans-serif;color: #fff;}

.sidenav .item2{width: 120px;z-index: 10;}
.sidenav .item2 .lag_box{clear: both;width: 100%;height: 20px;overflow: hidden;position: relative;transition: 0.5s;z-index: 10;}
.sidenav .item2 .lag_box li{clear: both;cursor: pointer;width: 100%;}
.sidenav .item2 .lag_box li:nth-child(2),.lag_box li:nth-child(3),.lag_box li:nth-child(4),.lag_box li:nth-child(5){background: #222;}
.sidenav .item2 .lag_box:after{content: '▼';position: absolute;top: 0;right: 0px;display: block;}
.sidenav .item2 .lag_box:hover{height: 90px;}
.sidenav .item2 .lag_box:hover::after{content: '▲';}

.sidenav .item2 .lag_box li:hover {background: #fff;color: #666;}
.sidenav .item3{width: 50px;height: 30px;margin-top: -5px;}

.sidenav .item3>ul>li{clear: both;width: 40px;background: #fff;height: 2px;margin: 4px auto;float: right;border-radius: 3px;transition: 0.5s}

/*
.sidenav .bar_icon:nth-child(1){width: 20px;}
.sidenav .bar_icon:nth-child(2){width: 40px;}
.sidenav .bar_icon:nth-child(3){width: 30px;}
.sidenav .item3:hover .bar_icon:nth-child(1){width: 35px;}
.sidenav .item3:hover .bar_icon:nth-child(2){width: 25px;}
.sidenav .item3:hover .bar_icon:nth-child(3){width: 40px;}
*/

/*gnb 영역*/

.gnb{width: 1260px;position: absolute;top: 40px;right: 20px;z-index: 5;}
.gnb .dep1{float: left;font-size: 20px;width: 180px;line-height: 40px;font-family: 'Noto Sans KR',sans-serif;text-align: center;transition: 0.5s}
.gnb .dep1>a{display: block;text-decoration: none;height: 40px;}
.gnb .dep1 .dep2 a{text-decoration: none;display: block;}
.gnb .dep1>ul{width: 1260px;height: 340px;transition: 0.5s}
.gnb .dep1>ul{;position: absolute;top: 40px;left: 0;background: rgba(0, 0, 0, 1);height:0;overflow: hidden;}
.gnb .dep1>ul .dep2{width: 200px;display: block;overflow: hidden;width: 200px;font-size: 18px;float: left; /*340px*/}
.gnb .dep1:before{content: '';display: block;background: rgba(0, 0, 0, 1);;width: 620px;height: 0px;position: absolute;left: -620px;top: 40px;transition: 0.5s}
.gnb .dep1:after{content: '';display: block;background: rgba(0, 0, 0, 1);;width: 35px;height: 0px;position: absolute;right: -35px;top: 40px;transition: 0.5s}
.gnb .dep1 .dep2 .dep3{display: none;}
.gnb .dep1>ul .dep2 .dep3{display: block;font-size: 16px;overflow: visible;line-height: 30px;}
.gnb .dep17>ul .dep2{height: 170px;}

.gnb .dep1:hover ul{height: 340px;}
.gnb .dep1:hover::before,.dep1:hover::after{height: 340px;}

.gnb .dep1:hover>a{background: #000;}
.gnb .dep1 ul .dep2:hover>a{color: #333;background: #6d4308;}
.gnb .dep1 ul .dep2 ul .dep3:hover a{background: #6d4308;}


/*푸터영역*/


#ft{width: 80%;height: 25%;padding-top:7%;margin: 0 auto;font-family: 'Noto Sans KR',sans-serif;}
#ft:before{content: '';display: block;width: 100%;height: 1px;background: #ccc;display: block;}
.ft_top{width: 80%;height: 50%;margin: 0 auto;}
.ft_top a{color: #fff;display: block;text-align: center;line-height: 2;}
.ft_top>span{width: 16%;float: left;display: block;line-height: 2;margin-right: 0.6666666%;margin-top: 10px;}

.ft_bottom{clear: both;margin: 20px auto;display: block;text-align: center;width: 80%;}
.ft_bottom p{color: #fff;text-align: center;font-size: 0.9em;float: left;text-align: center;display: block;width: 47%;}
.ft_bottom>copyright{margin-left: 6%;}


