@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Lato|Nanum+Myeongjo|Noto+Sans|Noto+Sans+KR|Roboto+Mono|Roboto+Slab|Source+Sans+Pro&display=swap');
.ck_box{display: none;}

.page1{background-image: url(../img/bg_s_page1.jpg);width: 100%;height: 310px;background-repeat: no-repeat;} 

.nav_intro{margin: 0 auto;width: 410px;text-align: center;color: #fff;font-family:'Nanum Myeongjo','Source Sans Pro', sans-serif;margin-top: 60px;}

.tit_wrap{margin: 0 auto;width: 100%;display: block;margin-top: 25px;}
.nav_intro h3{font-size: 50px;}
.nav_intro p{float: left;font-size: 1.3em;text-align: center;font-family: 'Noto Sans KR', sans-serif;}
.nav_intro p:after{content: '>';padding: 0px 20px;}
.nav_intro p:nth-of-type(3)::after{content: '';}



.page2{width: 100%;clear: both;position: relative;height: 1200px;}
.page2_box{clear: both;width: 100%;background: #333;height: 50px;color: #fff;}
.tab_box_wrap{width: 1200px;margin: 0 auto;height: 50px;}
.tab_box_wrap label{width: 19.7%;text-align: center;font-size: 19px;font-family: 'Noto Sans KR', sans-serif;line-height: 50px;font-weight: 500;}

.tab_box_wrap label:hover{background: rgb(155, 124, 31);}
#intro1:checked ~ .tab_box_wrap .rait1{background: rgb(155, 124, 31);}

#intro2:checked ~ .tab_box_wrap .rait2{background: rgb(155, 124, 31);}
#intro3:checked ~ .tab_box_wrap .rait3{background: rgb(155, 124, 31);}
#intro4:checked ~ .tab_box_wrap .rait4{background: rgb(155, 124, 31);}
#intro5:checked ~ .tab_box_wrap .rait5{background: rgb(155, 124, 31);}

.section_box{position: relative;width: 100%;}
.section_box section{display: none;position: absolute;color: #444;font-family: 'Noto Sans KR', sans-serif;width: 100%;}
.section_box section h3{text-align: center;}
.section_box section h3:after{content: '';display: block;width: 100%;height: 2px;background: #666;margin-top: 30px;}
#intro1:checked ~ .tab_box_wrap .section_box .item1{display: block;}

#intro2:checked ~ .tab_box_wrap .section_box .item2{display: block;}
#intro3:checked ~ .tab_box_wrap .section_box .item3{display: block;}
#intro4:checked ~ .tab_box_wrap .section_box .item4{display: block;}
#intro5:checked ~ .tab_box_wrap .section_box .item5{display: block;}

.section_box>.item1>ul>li{float: left;width: 333px;height: 400px;margin-right: 100px;color: #fff;position: relative;}
.section_box>.item1>ul>li:last-child{margin-right: 0;}

.section_box>.item1 .list1{}
.section_box>.item1 .list1 .item1{line-height: 400px;text-align: center;font-size: 30px;background: rgb(155, 124, 31);width: 100%;height: 100%;z-index: 5;}
.section_box>.item1 .list1 .item2:hover{opacity: 1;transition: 0.5s}

.section_box>.item1 .list1 .item2{position: absolute;background: rgba(68, 68, 68, 1);top: 0;width: 100%;height: 100%;padding: 20px;opacity: 0;transition: 0.5s;padding-top: 50px;font-size: 17px;}


.section_box>.item1 .list2{}

.section_box>.item1 .list2 .item1{line-height: 400px;text-align: center;font-size: 30px;background: rgb(155, 124, 31);width: 100%;height: 100%;z-index: 5;}
.section_box>.item1 .list2 .item2:hover{opacity: 1;transition: 0.5s}

.section_box>.item1 .list2 .item2{position: absolute;background: rgba(68, 68, 68, 1);top: 0;width: 100%;height: 100%;padding: 20px;opacity: 0;transition: 0.5s;padding-top: 50px;font-size: 17px;}

.section_box>.item1 .list2 .item2 h4{color:#f00}

.section_box>.item1 li{list-style:square;text-indent: 10px;}


.section_box>.item1 .list3{background: rgb(155, 124, 31);}

.section_box>.item1 .list3 .item1{line-height: 400px;text-align: center;font-size: 30px;background: rgb(155, 124, 31);width: 100%;height: 100%;z-index: 5;}
.section_box>.item1 .list3 .item2:hover{opacity: 1;transition: 0.5s}

.section_box>.item1 .list3 .item2{position: absolute;background: rgba(68, 68, 68, 1);top: 0;width: 100%;height: 100%;padding: 20px;opacity: 0;transition: 0.5s;padding-top: 50px;font-size: 17px;}

.section_box>.item1 .list3 .item2 h4{color:#f00}


.phon_ac{width: 100%;margin-top: 600px;clear: both;}

.phon_ac img{width: 150px;height: 150px;display: block;float: left;}

.ac_right{float: right;width: 950px;margin-top: 20px;}
.ac_right li{clear: both;line-height: 30px;font-size: 17px;}
.ac_bot{clear: both;padding-top: 100px;}
.ac_bot li{line-height: 30px;font-size: 17px;}

.page3{background: #333;height: 200px;}









